{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- MAIN -->
  <div id="main" role="main">
    <!-- Hero -->
    <div class="hero-unit">
      <h1>Hello, i am {{name}} {{lastname}}!</h1>
      <p>I love to make websites.</p>
    </div>
    <!-- ENDS hero -->
    <!-- info -->
    <section id="info-section" class="information" >
      <div  class="page-header">
        <h1>Information <small>Learn everything about me</small></h1>
      </div>
      <ul id="information-tabs" class="nav nav-pills ">
        <li><a href="#summary" data-toggle="tab">languages</a></li>
        <li><a href="#education" data-toggle="tab">Education</a></li>
        <li><a href="#skills" data-toggle="tab">Skills</a></li>
        <li><a href="#experience" data-toggle="tab">Projects</a></li>
        <li><a href="#awards" data-toggle="tab">Bio and Contact</a></li>
      </ul>
      <!-- tab content -->
      <div class="tab-content">
        <!-- Summary -->
        <div class="summary-section tab-pane active" id="summary">
          <p ><strong>languages</strong> </p>
          <p>Turkish</p>
          <div class="rating p"> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> </div>
          <p>English</p>
          <div class="rating p"> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> </div>
          <p>Persian</p>
          <div class="rating p"> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> </div>

        </div>
        <!-- ENDS Summary -->
        <!-- Skills -->
        <div class="tab-pane listing" id="skills">
          <div class="entry">
            <div class="clearfix">
              <div class="rating p"> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star"></i> </div>
              <h3 class="heading pull-leasft">Web Design</h3>
            </div>
          </div>
          <div class="entry">
            <div class="clearfix">
              <div class="rating p"> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star-empty"></i> </div>
              <h3 class="heading pull-leasft">Web Development</h3>
            </div>
          </div>
          <div class="entry">
            <div class="clearfix">
              <div class="rating p"> <i class="icon-star"></i> <i class="icon-star"></i> <i class="icon-star-empty"></i> </div>
              <h3 class="heading pull-leasft">Django & Django restframework</h3>
            </div>
          </div>
        </div>
        <!-- ENDS Skills -->
        <!-- Experience -->
        <div class="tab-pane" id="experience">
          <table class="table experience-table">
            <tbody>
              <tr>
                <td><h3 class="position" >Django</h3>
                  <span class="date"> 2024</span><small>django project</small></td>
              </tr>
              <tr>
                <td><h3 class="position">C++</h3>
                  <span class="date"> 2023 </span><small>C++ project</small></td>
            </tbody>
          </table>
        </div>
        <!-- ENDS Experience -->
        <!-- Education -->
        <div class="tab-pane listing" id="education">
          <div class="entry">
            <h3 class="heading">ferdowsi University</h3>
            <span class="date">2022 - 2026</span>
            <p>computer Science</p>
          </div>
        </div>
        <!-- ENDS Education -->
        <!-- Awards -->
        <div class="tab-pane" id="awards">
          <ul class="awards-list">
            <li>
              <h3  class="heading">phone number </h3>
              <p>{{phonenumber}}</p>
            <li>
              <h3  class="heading">git hub </h3>
              <a class="btn" href="https://github.com/Taraneh-trk/">Link</a></li>
            <li>
              <h3  class="heading">email </h3>
              <a class="btn" href="">sztu1380@gmail.com</a></li>
            <li>
              <h3  class="heading">linkedin</h3>
              <a class="btn" href="https://www.linkedin.com/in/taraneh-kordi-b03a67291/">Link</a></li>
          </ul>
        </div>
        <!-- ENDS Awards -->
      </div>
      <!-- ENDS tab content -->
    </section>
    <!-- ENDS info -->


    {% endblock %}